<?xml version="1.0"?>
<launch>

    <arg name="slam_param_file" default="$(find lio_sam)/config/params_structor_indoor.yaml" />
    <!--arg name="slam_param_file" default="$(find lio_sam)/config/params_structor_outdoor.yaml" /-->

    <!-- For Velodyne VLP-16 -->
    <param name="scan_line" value="16" />
    
    <!-- for HDL-32C -->
    <!--param name="scan_line" value="32" /-->
    
    <!--- Sim Time -->
    <param name="scan_period" value="0.1" />

    <!--param name="vertical_angle" type="double" value="1.34" /--> <!-- for HDL-32C -->
    <param name="vertical_angle" type="double" value="2.0" />    <!-- for VLP-16 -->
    
    <param name="map_resolution" type="double" value="0.2" />
    
    
    <param name="output_downsample_size" type="double" value="0.1" />
    <param name="deskew" type="bool" value="true" />
    <param name="imu_topic" type="string" value="/nav/filtered_imu/data" /> <!-- Structor FLOAM -->
    <param name="loss_function" type="string" value="Cauchy" />
    
    
    <param name="calib_ex" type="double" value="-0.24" />
    <param name="calib_ey" type="double" value="0.18" />
    <param name="calib_ez" type="double" value="180.0" />


    <!-- EXPORTS -->
    <param name="directory_output" value="/home/$(env USER)/Downloads/export/" /> <!-- for both liosam and floam -->
    <!-- ODOM EXPORTS -->
    <param name="export_odom_pcd" type="bool" value="false" />
    <param name="odom_save_posegraph" type="bool" value="false" />
    <param name="odom_save_odom" type="bool" value="false" />
    <param name="odom_save_balm" type="bool" value="false" />
    <param name="odom_save_balm2" type="bool" value="true" />

    <!-- SLAM EXPORTS -->
    <param name="export_slam_pcd" type="bool" value="false" />
    <param name="slam_save_posegraph" type="bool" value="false" />
    <param name="slam_save_odom" type="bool" value="false" />
    <param name="slam_save_balm" type="bool" value="false" />
    <param name="slam_save_balm2" type="bool" value="false" />
    <param name="saveRefinementGraph" type="bool" value="false" />

    <param name="max_dis" type="double" value="90.0" />
    <param name="min_dis" type="double" value="0.5" />

    <node pkg="floam" type="floam_odom_estimation_node" name="floam_odom_estimation_node" output="screen"/>
    <node pkg="floam" type="floam_laser_processing_node" name="floam_laser_processing_node" output="screen"/>
    <node pkg="floam" type="floam_laser_mapping_node" name="floam_laser_mapping_node" output="screen"/>


    <include file="$(find lio_sam)/launch/slam_gps.launch">
      <arg name="slam_param_file" value="$(arg slam_param_file)" />
    </include>
    
    <arg name="rviz" default="true" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find floam)/rviz/slam.rviz" />
    </group>
    
    


</launch>
